<a href="https://colab.research.google.com/github/Akbar-1056/bitlabs-project/blob/main/mid_term_bitlabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/data_set_mid_term/midterm_hotel_data.csv')

In [ ]:
# mengecek nilai yang kosong dan mengisi kolom yang kosong dengan 0
df.isnull().sum()
df.loc[:, ['lead_time','stays_in_week_nights','children','agent','company','total_of_special_requests']] = df[['lead_time','stays_in_week_nights','children','agent','company','total_of_special_requests']].fillna(0)
print(df)

        Unnamed: 0         hotel  is_canceled  lead_time  arrival_date_year  \
0                0  Resort Hotel            0      342.0               2015
1                1  Resort Hotel            0      737.0               2015
2                2  Resort Hotel            0        7.0               2015
3                3  Resort Hotel            0       13.0               2015
4                4  Resort Hotel            0        0.0               2015
...            ...           ...          ...        ...                ...
119385      119385    City Hotel            0       23.0               2017
119386      119386    City Hotel            0        0.0               2017
119387      119387    City Hotel            0        0.0               2017
119388      119388    City Hotel            0      109.0               2017
119389      119389    City Hotel            0      205.0               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                      NaN
1                               1                      0.0
2                               1                      NaN
3                               1                      0.0
4                               1                      0.0
...                           ...                      ...
119385                         30                      2.0
119386                         31                      NaN
119387                         31                      2.0
119388                         31                      NaN
119389                         29                      NaN

        stays_in_week_nights  ...  customer_type     adr  \
0                          0  ...      Transient    0.00
1                          0  ...      Transient    0.00
2                          1  ...      Transient   75.00
3                          1  ...      Transient     NaN
4                          2  ...      Transient   98.00
...                      ...  ...            ...     ...
119385                     5  ...      Transient     NaN
119386                     5  ...      Transient  225.43
119387                     5  ...      Transient  157.71
119388                     5  ...      Transient  104.40
119389                     7  ...      Transient  151.20

        required_car_parking_spaces total_of_special_requests  \
0                                 0                       0.0
1                                 0                       0.0
2                                 0                       0.0
3                                 0                       0.0
4                                 0                       0.0
...                             ...                       ...
119385                            0                       0.0
119386                            0                       2.0
119387                            0                       0.0
119388                            0                       0.0
119389                            0                       0.0

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 37 columns]

In [ ]:
# mengisi value data numeric dengan median dan mengubah data float menjadi numeric
numeric_df = df.select_dtypes(include=['number'])
df[numeric_df.columns] = df[numeric_df.columns].fillna(numeric_df.median())
df['adults'] = df['adults'].fillna(df['adults'].median())

#mengisi data kategorical
df['country'] = df['country'].fillna('Unknown')

# hapus kolom index bawaan
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

print(df)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0      342.0               2015
1       Resort Hotel            0      737.0               2015
2       Resort Hotel            0        7.0               2015
3       Resort Hotel            0       13.0               2015
4       Resort Hotel            0        0.0               2015
...              ...          ...        ...                ...
119385    City Hotel            0       23.0               2017
119386    City Hotel            0        0.0               2017
119387    City Hotel            0        0.0               2017
119388    City Hotel            0      109.0               2017
119389    City Hotel            0      205.0               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                      1.0
1                               1                      0.0
2                               1                      1.0
3                               1                      0.0
4                               1                      0.0
...                           ...                      ...
119385                         30                      2.0
119386                         31                      1.0
119387                         31                      2.0
119388                         31                      1.0
119389                         29                      1.0

        stays_in_week_nights  adults  ...  customer_type     adr  \
0                          0     2.0  ...      Transient    0.00
1                          0     2.0  ...      Transient    0.00
2                          1     1.0  ...      Transient   75.00
3                          1     1.0  ...      Transient   95.00
4                          2     2.0  ...      Transient   98.00
...                      ...     ...  ...            ...     ...
119385                     5     2.0  ...      Transient   95.00
119386                     5     2.0  ...      Transient  225.43
119387                     5     2.0  ...      Transient  157.71
119388                     5     2.0  ...      Transient  104.40
119389                     7     2.0  ...      Transient  151.20

       required_car_parking_spaces total_of_special_requests  \
0                                0                       0.0
1                                0                       0.0
2                                0                       0.0
3                                0                       0.0
4                                0                       0.0
...                            ...                       ...
119385                           0                       0.0
119386                           0                       2.0
119387                           0                       0.0
119388                           0                       0.0
119389                           0                       0.0

       reservation_status reservation_status_date                name  \
0               Check-Out              2015-07-01       Ernest Barnes
1               Check-Out              2015-07-01        Andrea Baker
2               Check-Out              2015-07-02      Rebecca Parker
3               Check-Out              2015-07-02        Laura Murray
4               Check-Out              2015-07-03         Linda Hines
...                   ...                     ...                 ...
119385          Check-Out              2017-09-06     Claudia Johnson
119386          Check-Out              2017-09-07      Wesley Aguilar
119387          Check-Out              2017-09-07        Mary Morales
119388          Check-Out              2017-09-07  Caroline Conley MD
119389          Check-Out              2017-09-07      Ariana Michael

                              email  phone-number       credit_card
0       Ernest.Barnes31@outlook.com  669-792-1661  ************4322
1            Andrea_Baker94@aol.com  858-637-6955  ************9157
2        Rebecca_Parker@comcast.net  652-885-2745  ************3734
3                 Laura_M@gmail.com  364-656-8427  ************5677
4                LHines@verizon.com  713-226-5883  ************5498
...                             ...           ...               ...
119385          Claudia.J@yahoo.com  403-092-5582  ************8647
119386         WAguilar@xfinity.com  238-763-0612  ************4333
119387     Mary_Morales@hotmail.com  395-518-4100  ************1821
119388      MD_Caroline@comcast.net  531-528-1017  ************7860
119389         Ariana_M@xfinity.com  422-804-6403  ************4482

[119390 rows x 36 columns]